.news_container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  text-align: justify;
}
@media (min-width: 1320px) {
  .news_container {
    margin-left: 8rem !important;
    max-width: 1197px !important;
  }
}
